.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 30px;
}

.input {
  display: block;
  padding: 0 16px;
  width: 100%;
  height: 39px;

  background-color: transparent;
  color: var(--typography-700);

  font-size: 14px;
  font-weight: 400;

  border: 1px solid var(--secondary-500);
  border-radius: 20px;

  cursor: text;
}

.label {
  font-size: 18px;
  text-align: center;
}


.error {
  position: absolute;
  color: red;
  left: 10px;
  bottom: -15%;
  font-size: 12px;
}