.wrapper {
  width: 214px;
  text-align: center;
}

.text {
  display: inline;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.link {
  border-bottom: 1px solid;
  color: var(--primary-500);
}
