.wrapper {
  display: flex;
  flex-direction: column;
  width: 330px;
  gap: 30px;
}

.text {
  display: flex;
  text-align: center;
}

.info {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 135%;
}

.buttons {
  display: flex;
  gap: 15px;
}

.pictures {
  position: relative;
  align-self: center;
  height: 190px;
}